# Server Port
PORT=3000

# Whitelist (Comma separated)
# ALLOWED_ORIGINS=http://localhost:3000,https://example.com
# Allow Empty Referer/Origin (true/false)
# Only applies if ALLOWED_ORIGINS is set
ALLOW_EMPTY_REFERER=true

# Enable Help Route (true/false)
ENABLE_HELP=true
