# Server Port
PORT=3000

# Whitelist (Comma separated)
# ALLOWED_ORIGINS=http://localhost:3000,https://example.com

# Allow Empty Referer/Origin (true/false)
# Only applies if ALLOWED_ORIGINS is set
ALLOW_EMPTY_REFERER=true

# Enable Help Route (true/false)
ENABLE_HELP=true

# Rate Limiting
# RATELIMIT_MAX=100
# RATELIMIT_WINDOW=60000

# Trust Proxy (Set to true if behind Nginx/Cloudflare/Load Balancer)
# Required for rate limiting to work correctly behind a proxy
# TRUST_PROXY=true
